<section >
  <md-content layout="row" layout-align="center start">
    <md-card style="width:25%" >
      <md-card-content>
        <img src="/img/jowell.jpeg" class="smallcircular" alt="profile pic">
        <h2 class="name">Jowell</h2>
          <p>
             I had a lot of fun developing Hippo with these three other amazingly talented individuals.
             I worked on the implementing AngularJS for this website.
             I love the principles of material design and I was very excited to design a website using it.
             I hope you enjoy this website as much as I had developing it.
          </p>
      </md-card-content>
    </md-card>
    <md-card style="width:25%" >
      <md-card-content>
        <img src="/img/kumar.jpeg" class="smallcircular" alt="profile pic">
        <h2 class="name">Kumar</h2>
          <p>This was a fun project built in a full JavaScript stack that allowed us to use all the tools we created in class.</p>
          <p>I worked on the functionality to serve up random pictures and names, integrate with Facebook's api, and the settings page</p>
          <a href="https://www.linkedin.com/in/eeshankumar">Find me on LinkedIn</a>
      </md-card-content>
    </md-card>
    <md-card style="width:25%" >
      <md-card-content>
        <img src="/img/lamson.jpeg" class="smallcircular" alt="profile pic">
        <h2 class="name">Lamson</h2>
          <p>I am a software developer with interests in growing and deploying products with additional opportunities to learn different facets of the business and industry.</p>
      </md-card-content>
    </md-card>
    <md-card style="width:25%" >
      <md-card-content>
        <img src="/img/clint.jpeg" class="smallcircular" alt="profile pic">
        <h2 class="name">Clint</h2>
          <p>I'm a software developer with experience in engineering, management, and business development.
            I love efficiency, readable code, and helping grow great companies. </p>
      </md-card-content>
    </md-card>
</section>
