<section >
  <md-content layout="row" layout-align="center start">
    <md-card style="width:25%" >
      <md-card-content>
        <a href="/auth/facebook/jowell">
          <img src="/img/jowell.jpeg" class="smallcircular" alt="profile pic">
        </a>
        <h2 class="name">Jowell</h2>
          <p>
             I had a lot of fun developing Hippo with these three other amazingly talented individuals.
             I worked on the implementing AngularJS for this website.
             I love the principles of material design and I was very excited to design a website using it.
             I hope you enjoy this website as much as I had developing it.
          </p>
      </md-card-content>
    </md-card>
    <md-card style="width:25%" >
      <md-card-content>
        <a href="/auth/facebook/kumar">
          <img src="/img/kumar.jpeg" class="smallcircular" alt="profile pic">
        </a>
        <h2 class="name">Kumar</h2>
          <p>This was a fun project built in a full JavaScript stack that allowed us to use all the tools we created in class.</p>
          <p>I worked on the functionality to serve up random pictures and names, integrate with Facebook's api, and the settings page</p>
          <a href="https://www.linkedin.com/in/eeshankumar">Find me on LinkedIn</a>
      </md-card-content>
    </md-card>
    <md-card style="width:25%" >
      <md-card-content>
        <a href="/auth/facebook/lamson">
          <img src="/img/lamson.jpeg" class="smallcircular" alt="profile pic">
        </a>
        <h2 class="name">Lamson</h2>
          <p>
            I had am amazing experience contributing to Hippo and colaborating on common vision.
            It was exciting to work with Material Design for Angular.
          </p>
          <a href="https://www.linkedin.com/in/lelamson">Find m e on LinkedIn</a>
      </md-card-content>
    </md-card>
    <md-card style="width:25%" >
      <md-card-content>
        <a href="/auth/facebook/clint">
          <img src="/img/clint.jpeg" class="smallcircular" alt="profile pic">
        </a>
        <h2 class="name">Clint</h2>
          <p>I enjoyed bringing this idea to life with our team in a week! I worked with the app architecture design, building our server, adding Oauth2 authentication, interaction with Facebook's API for data, wiring up the Angular.js front end to our Node.js/Express.js API, etc. Great app. Great team. Great time.</p>
          <a href="https://www.linkedin.com/in/clintonjnelson">LinkedIn</a>
          <br/>
          <br/>
          <a href="http://github.com/clintonjnelson">Github</a>
      </md-card-content>
    </md-card>
</section>
