<md-content layout-padding >
  <md-card >
    <a class="circular" data-ng-href="/auth/facebook">
      <img  alt="hippo" src="img/hippo.png" onmouseover="this.src='img/facebook.png'" onmouseout="this.src='img/hippo.png'" />
    </a>
   <md-card-content layout="column" layout-align="center center">
     <h2 >Welcome to Hippo</h2>
     <p> Never forget your friends names again </p>
     <p> Click the hippo to login with Facebook and try it out! </p>
   </md-card-content>
  </md-card>
</md-content>
