<md-content layout-padding >
  <md-card >
    <a class="circular" data-ng-href="/auth/facebook">
      <img  alt="hippo" src="img/hippo.png" onmouseover="this.src='img/facebook.png'" onmouseout="this.src='img/hippo.png'" />
    </a>
   <md-card-content layout="column" layout-align="center center">
     <h2 >Welcome to Hippo</h2>
     <p> Never forget your friends names again </p>
     <p style="text-align:center">
      <em>
        Normally, click the Hippo to Sign in. However, thanks to Facebook, it's currently limited to developer accounts only....
        <br/>
        BUT, if you go to the "About Us" page, you can click any of our images to login as that developer!
        <br/>
        (yes, we're TOTALLY OK with you ruining our scores - have fun!)
      </em>
    </p>
   </md-card-content>
  </md-card>
</md-content>
