<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Client Side</title>
</head>
<body data-ng-app="hippoApp">
  <main data-ng-controller="cardsController" data-ng-init="getAll()">
    <h1>Cards:</h1>
    <aside data-ng-if="errors.length">
      <h2>Errors:</h2>
      <ul data-ng-repeat="error in errors">
        <li>{{error.msg}}</li>
      </ul>
      <button data-ng-click="clearErrors()">Clear Errors</button>
    </aside>
    <div data-card-form-directive
      data-save="createNewCard(card)"
      data-button-text="'Create New Card'"
      data-label-text="Create A New Card: "
      data-card="card"

      ></div>
    <ul data-ng-repeat="card in cards">
      <li>{{card.personPic}} - {{card.personName}}
          <button data-ng-click="removeCard(card)">Delete</button>
          <button data-ng-if="!card.editing" data-ng-click="toggleEdit(card)">Edit</button>
          <div data-card-form-directive
            data-save="saveCard(card)"
            data-button-text="'Save Changes'"
            data-label-text="Editing Card: "
            data-ng-if="card.editing"
            data-card="card">
            <button type="button" data-ng-click="toggleEdit(card)">Cancel</button>
          </div>
      </li>
    </ul>

    <section>
      <img src={{cards[0].personPic}} width="256px" height="256px">
      <form>
        <p>
          <button type="button" data-ng-click="isFriend(card)" ng-style="{'background-color':isFriendStyle(card)}">{{cards[0].personName.split(' ')[0]}}</button>
          <button type="button" data-ng-click="isFriend(card)" ng-style="{'background-color':isFriendStyle(card)}">{{cards[1].personName.split(' ')[0]}}</button>
        </p>
        <p>
          <button type="button" data-ng-click="isFriend(card)" ng-style="{'background-color':isFriendStyle(card)}">{{cards[2].personName.split(' ')[0]}}</button>
          <button type="button" data-ng-click="isFriend(card)" ng-style="{'background-color':isFriendStyle(card)}">{{cards[3].personName.split(' ')[0]}}</button>
        </p>
      </form>
    </section>

  </main>
  <script src="bundle.js"></script>
</body>
</html>
