<section id="card" data-ng-controller="cardsController" data-ng-init="getAll()">
  <md-content layout-padding>
    <md-card layout-align="center center" md-swipe-left="redirectCards()">
     <img src={{cards.pic_url}} class="circular md-avatar" alt="profile pic">
     <md-card-content>
      <md-button data-ng-click="redirectCards()">NEXT</md-button>
     </md-card-content>
      <div class="md-actions" layout="row">
       <div ng-repeat="cardName in cards.names">
        <md-button name={{cardName}} data-ng-click="isFriend(cardName)">{{cardName}}</md-button>
       </div>
      </div>
    </md-card>
  </md-content>
</section>
